/* RODAMAS FONT FACE 🔽 */
@font-face {
  font-family: RODAMAS;
  font-weight: 400;
  font-style: normal;
  src: url(assets/fonts/RODAMAS.ttf);
}
/* CLASH-GROTESK FONT FACE 🔽 */
@font-face {
  font-family: CLASH-B;
  font-weight: 700;
  font-style: normal;
  src: url(assets/fonts/Clash-Grotesk.ttf);
}
@font-face {
  font-family: CLASH-N;
  font-weight: 400;
  font-style: normal;
  src: url(assets/fonts/Clash-Grotesk.ttf);
}
/* MEDIA QUERY IMPORT */

* {
  text-decoration: none;
  color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #090909;
  margin: 0 0 0 0;
}

body::-webkit-scrollbar {
  display: none; 
  
}
/* ANIMATION */


/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}
.navleftcontainer,
.navrightcontainer {
  display: flex;
  align-items: center;
}

.navleftcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dm{
  font-family: CLASH-B;
  font-size: 1rem;
}
ul li ul.dropdown li{
  display: block;
}
.dropdown{
  width: 200px;
  height: 110px;
  background-color: #8b8c8d2f;
  line-height: 25px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  display: none;
}

.dm:hover{
  color: #8b8c8dbb;
}
ul li:hover ul.dropdown{
  
  display:block;
}

.navrightcontainer img {
  width: 2rem;
  margin-right: 30px;
  transition: 150ms;
  transition-timing-function: ease-in-out;
}
.navrightcontainer img:hover{
  transform: scale(1.2);
}
.navbutton {
  border: 1px solid;
  border-radius: 0.3rem;
  background-color: white;
  color: #282b30;
  font-family: CLASH-B;
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  transition: 150ms;
}
.slide{
  transition-timing-function: ease-in-out;
  animation: nav-button-anim 1s ease-in-out 1s 1 normal both;
}
.navbutton:hover{
  transform: scale(.9);
}
@keyframes nav-button-anim {
  from{
    transform: translateY(-500px);
  }
  to{
    transform: translateY(0px);
  }
}


.logo a {
  font-size: 2rem;
  font-family: CLASH-B;
  color: white;
  margin-right: 80px;
}
li {
  list-style: none;
  display: inline-block;
}

li a {
  color: white;
  font-size: 1.5rem;
  font-family: CLASH-B;
  margin-right: 70px;
}

/* THIS PART IS FOR THE INTRODUCTION */

.grid1 {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-bottom: 100px;
  overflow-x: hidden;
}
.item-1 {
  grid-area: 1 / 1 / 3 / 20;
}
.item-2 {
  grid-area: 3 / 1 / 4 / 20;
}
.item-3 {
  grid-area: 3 / 1 / 6 / 20;
}
.item-4 {
  grid-area: 5 / 1 / 6 / 20;
}
.item-5 {
  grid-area: 7 / 1 / 9 / 20;
}

.header-1 {
  font-size: 9rem;
  font-family: RODAMAS;
  letter-spacing: 30px;
  color: #8b8c8dbb;
  transform: rotateZ(-4deg);
  margin-bottom: 10px;
  transition: 150ms;
  transition-timing-function: ease-in-out;
  animation: hello 500ms ease-in-out 1s 1 normal both;

}
@keyframes hello {
  from{
    transform: rotateZ(6deg);
  }
  to{
  transform: rotateZ(-4deg);
  }

}
 
.header-2 {
  font-size: 4rem;
  font-family: CLASH-B;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.header-3 {
  font-size: 4rem;
  font-family: CLASH-B;
  letter-spacing: 4px;
}
.header-2,.header-3{
  transition-timing-function: ease-in-out;
  animation: boom 500ms ease-in-out 1s 1 normal both;
}
@keyframes boom {
  from{
    transform: scale(-1.1);
  }
  to{
  transform: scale(1);
  }

}

.para-1 {
  font-size: 20px;
  font-family: CLASH-N;
  font-weight: 400;
  width: 1000px;
  height: 100px;
  text-align: center;
}
.explorebt {
  border: 1px solid;
  border-radius: 0.3rem;
  background-color: white;
  color: #282b30;
  font-family: CLASH-B;
  font-size: 1rem;
  letter-spacing: 5px;
  height: 3rem;
  width: 10rem;
  animation-timing-function: ease-in-out;
  transition: 150ms;
}
.explorebt:hover {
  transform: scale(0.9);
}
/* NFT COLLECTION */
.grid2 {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 10px;
  column-gap: 0.5px;
  margin: 0 80px 0 80px;
 
}
.anim {
  animation-timing-function: ease-in-out;
  transition: 150ms;
}
.anim:hover {
  border: 1px solid;
  color: #fff;
  transform: scale(0.9);
  
}


.grid-explore-more {
  display: grid;
  grid-template-rows: repeat(1, minmax(100px));
  grid-template-columns: repeat(auto-fit, minmax(50px));
  gap: 50px;
  margin-top: 100px;
  
}
.bt1 {
  grid-area: 1 / 1 / 1 / 2;
  justify-self: end;
  place-items: center;
}
.bt2 {
  grid-area: 1 / 2 / 1 / 3;
  justify-self: start;
  place-items: center;
}
.morebt {
  border: 1px solid;
  border-radius: 0.3rem;
  background-color: white;
  color: #282b30;
  font-family: CLASH-B;
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
  animation-timing-function: ease-in-out;
  transition: 150ms;
}
.aboutbt {
  border: 1px solid;
  border-radius: 0.3rem;
  background-color: white;
  color: #282b30;
  font-family: CLASH-B;
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
  animation-timing-function: ease-in-out;
  transition: 150ms;
}
.morebt:hover,
.aboutbt:hover {
  transform: scale(0.9);
}

.grid3 {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 45px;
}
.item-1-1 {
  grid-area: 1 / 1 / 3 / 20;
}
.item-1-2 {
  grid-area: 3 / 1 / 4 / 20;
}
.item-1-3 {
  grid-area: 3 / 1 / 6 / 20;
}
.item-1-4 {
  grid-area: 5 / 1 / 7 / 20;
}
.item-1-5 {
  grid-area: 7 / 1 / 8 /20;
}

.header-1-1 {
  font-size: 9rem;
  font-family: RODAMAS;
  letter-spacing: 30px;
  color: #8b8c8dbb;
  transform: rotateZ(-4deg);
  margin-bottom: 10px;
}
.header-1-2 {
  font-size: 4rem;
  font-family: CLASH-B;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.header-1-3 {
  font-size: 4rem;
  font-family: CLASH-B;
  letter-spacing: 4px;
}
.para-1-1 {
  font-size: 20px;
  font-family: CLASH-N;
  font-weight: 400;
  width: 1000px;
  height: 100px;
  text-align: center;
}
.aboutusbt {
  border: 1px solid;
  border-radius: 0.3rem;
  background-color: white;
  color: #282b30;
  font-family: CLASH-B;
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
}

/* FULL COLLECTION */
.grid4 {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 45px;
}

.item-2-1 {
  grid-area: 1 / 1 / 3 / 20;
}
.item-2-2 {
  grid-area: 3 / 1 / 4 / 20;
}
.item-2-3 {
  grid-area: 4 / 1 / 6 / 20;
}

.header-2-1 {
  font-size: 9rem;
  font-family: RODAMAS;
  letter-spacing: 30px;
  color: #8b8c8dbb;
  transform: rotateZ(-4deg);
  margin-bottom: 10px;
}
.header-2-2 {
  font-size: 4rem;
  font-family: CLASH-B;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.para-2-1 {
  font-size: 20px;
  font-family: CLASH-N;
  font-weight: 400;
  width: 1000px;
  height: 100px;
  text-align: center;
}

.grid5 {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(1, 701px);
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-bottom: 100px;
  gap: 50px;
}
.item-3-1 {
  grid-area: 1 / 1 / 1 / 1;
}

.item-3-2 {
  grid-area: 1 / 2 / 1 / 2;
}
.box-5-1 {
  justify-self: end;
  align-self: end;
}
.box-5-2 {
  justify-self: start;
  align-self: start;
}

@media only screen and (max-width: 414px) {
  .navrightcontainer img {
    width: 2rem;
    margin-right: 30px;
    display: none;
  }

  .navbutton {
    border: 1px solid;
    border-radius: 0.3rem;
    background-color: white;
    color: #282b30;
    font-family: CLASH-B;
    font-size: 1rem;
    height: 3rem;
    width: 10rem;
    display: none;
  }

  .logo a {
    font-size: 2rem;
    font-family: CLASH-B;
    color: white;
    margin-right: 80px;
  }

  .header-2-1 {
    font-size: 50px;
    font-family: RODAMAS;
    letter-spacing: 20px;
    color: #8b8c8dbb;
    transform: rotateZ(-4deg);
    margin-top: 300px;
  }

  .header-2-2 {
    font-size: 25px;
    font-family: CLASH-B;
    letter-spacing: 4px;
    margin-bottom: -70px;
  }

  .para-2-1 {
    font-family: CLASH-N;
    font-size: 15px;
    width: 100vw;
    height: 100px;
    text-align: justify;
    justify-self: justify;
  }
}

/* FOOTER */
.grid6 {
   
  display: grid;
  place-items: center;
  grid-template-rows: repeat(1, 100px);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  
}

 
.item-6-1 {
  position: relative;
  grid-area: 1 / 1 / 1 / 2;
  place-self: end;
  align-self: center;
   
}
.item-6-2 {
  position: relative;
  grid-area: 1 / 2 / 1 / 3;
  place-self: center;
  align-self: center;
}
.item-6-3 {
  position: relative;
  grid-area: 1 / 3 / 1 / 4;
  place-self: center;
  align-self: center;
}
.item-6-4 {
  grid-area: 1 / 4 / 1 / 5;
  place-self: center;
  align-self: center;
  
}
.item-6-5 {
  position: relative;
  grid-area: 1 / 2 / 1 / 3;
  place-self: center;
  align-self: center;
}
.item-6-6 {
  position: relative;
  grid-area: 1 / 3 / 1 / 4;
  place-self: center;
  align-self: center;
}
.item-6-7 {
  position: relative;
  grid-area: 1 / 4 / 1 / 5;
  place-self: center;
  align-self: center;
}
 


.logo-6-1,
.logo-6-2,
.logo-6-3 {
  width: 32px;
}

.head-6-1{
   font-family: CLASH-B;
   font-size: 1.5rem;
    margin-right: 60px;
}
 
.opt-6-2
,.opt-6-3,.opt-6-4{
  position: absolute;
  font-family: CLASH-B;
   font-size: 1.1rem;
   margin-top: -13px;
   margin-left: 25px;
   transition: 150ms;
}

.op,.x,.dc{
  transition: 150ms;
  animation-timing-function: ease-in-out;
}
.op:hover,.x:hover,.dc:hover{
  transform: scale(1.1);
}

 



 
 